<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE html>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}"
        lang="en"
>
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Senior Assassins 2022</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body class="a-background">
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px">
        <h1><strong>Leaderboard</strong></h1>
    </div>
        <div id = "Leaderboard">
            <ol class = "leaderboardol">
                <li class = "leaderboardlist"><span class = "Leaderboardnumbers">1.</span><p class = "leaderboardcontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt. Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis. </p></li>
                <li class = "leaderboardlist"><span class = "Leaderboardnumbers">2.</span><p class = "leaderboardcontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
                <li class = "leaderboardlist"><span class = "Leaderboardnumbers">3.</span><p class = "leaderboardcontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
            </ol>
        </div>


    <!-- End of body content specific to page -->
</div>
</body>
</html>
