<!-- This page is illustrative and contains ideas about HTML formatting
<!DOCTYPE html>
 Signals to the Layout Dialect which layout should be used to decorate this View
<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}"
        lang="en"
>
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.18.1/cytoscape.min.js" integrity="sha512-MgZAJudXekIHKoFtEk1NUwpSSCDt6JlfkUdwgX/1ustAyJltGO82ayHPOyK31xy9q84nGecgtF+D9hdm2OZldg==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/layout-base/layout-base.js"></script>
        <script src="https://unpkg.com/cose-base/cose-base.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/cytoscape-cose-bilkent@4.1.0/cytoscape-cose-bilkent.min.js"></script>
        <title>Senior Assassins 2022</title>

        <script>

            const getNodesAndEdges = async() => {
                const people = fetch("https://spring.sylicia.com/api/db/people").then(res=> res.json());
                const relationships = fetch("https://spring.sylicia.com/api/db/relationships").then(res=> res.json());

                const data = await Promise.all([people, relationships]);
                const peopleData = data[0].data;
                const relationshipData = data[1].data;

                console.log({peopleData, relationshipData});

                const pData = peopleData.map(p => createNode(...p));
                const rData = relationshipData.map(r => createEdge(...r));
                const elements = [...pData, ...rData];

                console.log({elements});
                return elements;

            }


            const createNode = (id, name, school) => {
                return {
                    group: 'nodes',
                    data: { weight: 75, id:"n"+id, name:name},
                }
            }

            const createEdge = (id, nid1, nid2) => {
                return {
                    group: 'edges',
                    data: { id:"e"+id, source:"n"+nid1, target:"n"+nid2 },
                }
            }


            getNodesAndEdges().then((ele) => {

                    var cy = window.cy = cytoscape({
                      container: document.getElementById('cy'),

                      ready: function(){
                        this.nodes().forEach(function(node){
                          node.css("width", 50);
                          node.css("height", 50);
                        });
                        this.layout({name: 'cose-bilkent', animationDuration: 1000, nodeRepulsion: 8500}).run();
                      },

                      style: [
                        {
                          selector: 'node',
                          style: {
                            'background-color': '#ad1a66'
                          }
                        },
                        {
                            selector: 'node',
                            style: {
                              'label': 'data(name)',
                              'text-align':'center'
                            }
                      },
                        {
                          selector: 'edge',
                          style: {
                            'width': 3,
                            'line-color': '#ad1a66'
                          }
                        }
                      ],

                      elements: ele
                });

            });
        </script>

    </div>


</head>




 layout::fragment="content" is heart of ThymeLeaf layout
<body class="d-background">
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px">
        <h1 class="test"><strong>Map</strong></h1>
    </div>

    <div id="cy"></div>


</div>






End of body content specific to page
</div>
</body>
</html>
-->